* {
    box-sizing: border-box;
}

/*Sculptor's Haven*/

body {
    margin: 0px;
    font-family: sans-serif;
}

#sculpt-header {
    position: sticky;
    top: 0px;
}

#layout #sculpt-image {
    background-image: url("../images/clay-sculpting.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sculpt-navbar {
    background: linear-gradient(to bottom, #E6CEB5, #B59275);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sculpt-navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#sculpt-navbar #logo {
    margin-right: auto;
}

#sculpt-image img {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#footer {
    background: linear-gradient(to bottom, #E6CEB5, #B59275);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#footer a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: bold;
}

#footer a:hover {
    color: black;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/*AngelEars*/

body {
    margin: 0px;
    font-family: sans-serif;
}

#mag-image {
    background-image: url("../images/local-magazine.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#mag-navbar {
    background: linear-gradient(to bottom, orange, pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mag-navbar a {
    text-decoration: none;
    color: darkslategray;
    padding: 24px;
}

#mag-navbar h1 {
    margin-right: auto;
}

#mag-navbar .cta-button {
    background-color: whitesmoke;
    color: darkslategray;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#mag-image img {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#mag-header {
    position: sticky;
    top: 0px;
}

#Secondfooter {
    background: linear-gradient(to bottom, pink, orange);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#Secondfooter a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: bold;
}

#Secondfooter a:hover {
    color: black;
}

#Secondfooter-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/*TAILORED SPOOKS*/

#spook-image {
    background-image: url("../images/pirate-kids.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#spook-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
    color: white;
}

#spook-content a {
    background-color: red;
    color: black;
    border-radius: 36px;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
}

#spook-content a:hover {
    opacity: 90%;
    color: black;
}

#spook-navbar {
    background: linear-gradient(to bottom, darkred, red);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spook-navbar a {
    text-decoration: none;
    color: aliceblue;
    padding: 24px;
}

#spook-navbar h1 {
    margin-right: auto;
}

#spook-navbar .cta-button {
    background-color: whitesmoke;
    color: darkslategray;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

.cta-button a:hover {
    opacity: 50%;
    color: white;
}

#spook-image img {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#spook-header {
    position: sticky;
    top: 0px;
}

#spook-bottom {
    background: linear-gradient(to bottom, orange, red);
    display: flex;
    justify-content: space-between;
}

#spook-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}
