/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 3px solid black;
    border-radius: 24px;
    padding: 14px;
    background: linear-gradient(to right, tan, orange);
}

h1 {
    color:darkblue;
    font-size: 50px;
    padding-left: 24px;
    margin: 0px
}

#left-side {
    display: inline-block;
    width: 65%;
}

div#left-side h4 {
    font-style: bold;
    font-size: 25px;
    text-align:center;
    color: white;
    background-color: darkblue;
    padding: 10px;
}

#right-side {
    display: inline-block;
    width: 34%;
}

#id-and-expiration div {
    display: inline-block;
    color: darkblue;
    font-weight: bold;
    padding-inline-start: 25px;
}

span {
    color: red;
}

#small-pic-container,
#data-fields {
    display: inline-block;
    padding: 15px;
}

#small-pic-container img {
    width: 80px;
    opacity: 50%;
}

div#address {
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
}

#data-left,
#data-right {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    color: darkblue;
}

div#signature {
    text-align: center;
    font-family: "Ms Madi";
    font-weight: 400;
    font-style: normal;
}

#right-side img {
    width: 100%;
    padding-bottom: 15px;
}

#donor,
#real-id {
    display: inline-block;
    text-align: right
}

#donor {
    color: red;
}
