/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 3px solid black;
    border-radius: 24px;
    padding: 14px
}

h1 {
    color:darkblue;
    font-size: 50px;
    padding-left: 24px;
}

#left-side {
    display: inline-block;
    width: 65%;
}

div#left-side h4 {
    font-style: bold;
    font-size: 25px;
    text-align:center;
    color: white;
    background-color: darkblue;
    padding: 10px;
}

#right-side {
    display: inline-block;
    width: 34%;
}

#id-and-expiration div {
    display: inline-block;
    color: darkblue;
    font-weight: bold;
    padding-inline-start: 25px;
}

#small-pic-container,
#data-fields {
    display: inline-block;
    padding: 15px;
}

#small-pic-container img {
    width: 80px;
}

div#address {
    padding-left: 14px;
}

#data-left,
#data-right {
    display: inline-block;
    padding: 5px
}

#signature {
    text-align: center;
    font-family: cursive;
    font-style: bold;
}

#right-side img {
    width: 100%
}

#donor,
#real-id {
    display: inline-block;
}