* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background-color: #6E745D;
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 20px 0px;
}

#navbar-top .content-column div a {
    padding: 24px;
}

#navbar-top #logo img {
    width: 200px;
}

#navbar-top .cta-buttom {
    background-color: white;
    color: #6E745D;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background-color: #F0C08E;
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: black;
    padding: 12px 0px;
}

.spacer {
    height: 100vh;
}

#layout {
    width: 900px;
    margin: 20px auto;
}

#hero-1 {
    background-image: url("../images/bandeja-paisa-traditional-colombian-dish.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

#hero-1 h1 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: white;
}

#hero-1 h4 {
    font-size: 5vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-1 a {
    font-size: 2vw;
    display: inline-block;
    background-color: #F0C08E;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin: 5vh 2vw 10vh 0px;
    box-shadow: 5px 5px #6E745D;
    border-radius: 20px;
}

#hero-1 a:hover {
    opacity: 90%;
    color: black;
}

.spacer {
    height: 10vh;
}


.section {
    background-image: url("../images/penol-landscape.jpg");
    padding: 48px;
    background-size: cover;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    background-color: #F0C08E;
    padding: 25px;
    border-radius: 30px;
    margin: 5vh 2vw 10vh 0px;
    box-shadow: 5px 5px #6E745D;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 80%;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}

.side-by-side .text-container h3 {
    font-size: 30px;
}

.side-by-side .text-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #6E745D;
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin-top: 24px;
    text-align: center;
    box-shadow: 5px 5px black;
    border-radius: 30PX;
    transition:
        background-color .5s,
        color .5s;
}

.side-by-side a:hover {
    background-color: black;
    color: #F0C08E;
}

#content-container {
    background-image: url("../images/la-piedra-del-penol-guatapae-rock-06215.jpg");
    padding: 48px;
    background-size: cover;
}

#content-container:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); 
}

.three-cards {
    display: flex;
}

.card {
    background-color: #F0C08E;
    border: 2px solid #6E745D;
    border-radius: 30px;
    color: black;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px grey;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.three-cards {
    margin-top: 48px;
}

.card a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background-color: #6E745D;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    text-align: center;
    box-shadow: 5px 5px black;
    border-radius: 30PX;
    transition:
        background-color .5s,
        color .5s;
}

.card a:hover {
    background-color: black;
    color: #F0C08E;
}

.footer {
    background-color: black;
    color: white;
    padding: 12px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer i {
    font-size: 30px;
    padding: 5px;
}

.footer img {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 80px;
    object-fit: contain;
    margin-top: 30px;
}

.footer-navbar {
    width: auto;
    margin: 0px auto;
    text-align: center;
}

.footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

.footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

/* menu page */

#hero-2 {
    background-image: url("../images/colombian-arepa-sandwich.webp");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

#hero-2 h1 {
    font-size: 50px;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: white;
}

#hero-2 h4 {
    font-size: 5vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-2 h5 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}


#hero-content-2 h3 {
    display: block;
    width: 10%; 
    min-width: 500px;
}

#hero-2 a {
    font-size: 2vw;
    display: inline-block;
    background-color: #F0C08E;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin: 5vh 2vw 10vh 0px;
    box-shadow: 5px 5px #6E745D;
    border-radius: 20px;
}

#hero-2 a:hover {
    opacity: 90%;
    color: black;
}

.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
    display: grid;
    border-radius: 4px;
    padding: 8px;
    margin: 48px;
    font-size: 24px;
}

.list img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.list h2 {
    font-size: 36px;
    text-align: center;
}

.list {
    border: 2px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.list a {
    text-decoration: none;
    color: white;
    background-color: #6E745D;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

.list a:hover {
    background-color: #F0C08E;
    color: black;
}


@media screen and (min-width:400px) {
    #header {
        flex-direction: column;
        align-items: center;
    }
    
    .heros h4 {
        font-size: 50px
    }

    .heros h2 {
        font-size: 30px;
    }

    .heros h3 {
        font-size: 20px;
    }

    .heros {
        font-size: 15px;
    }

    #grid-container {
        flex-direction: column;
    }

    .list a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
