* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: tan;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background-color: #97704F;
    color: black
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: tan;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #714423;
    color: white;
}

.spacer {
    height: 100vh;
    background-image: url("../images/paw-background.jpg");
    background-size: cover;
}

#hero-1 {
    background-image: url("../images/dog-and-cat.png");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
}

#hero-1 .hero-content {
    justify-content: flex-start;
    text-align: left;
    color: rgb(2, 2, 2);
    padding: 5vh 8vw;
}

#hero-1 h1 {
    font-size: 8vw;
    color: white;
    position: relative;
    left: 10px; 
}

#hero-1 h2 {
    font-size: 4vw;
    color: white;
    display: block;
    position: relative;
    left: 10px; 
}