/*background image*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    height: 100vh;
    background-image: url("../images/paw-background.jpg");
    background-size: cover;
}

/*navigation bar*/
#navbar {
    background-color: tan;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background-color: #97704F;
    color: black;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: tan;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #714423;
    color: white;
}

/*First page hero*/
#hero-1 {
    margin-top: 30px;
    background-image: url("../images/dog-and-cat.png");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
}

#hero-1 .hero-content {
    justify-content: flex-start;
    text-align: left;
    color: rgb(2, 2, 2);
    padding: 5vh 8vw;
}

#hero-1 h1 {
    font-size: 8vw;
    color: white;
    position: relative;
    left: 10px; 
}

#hero-1 h2 {
    font-size: 4vw;
    color: white;
    display: block;
    position: relative;
    left: 10px; 
}

/*Lance page card*/

#layout {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

#layout {
    width: 400px;
    border: 2px solid #ffe4da;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 3px 3px 12px #ffe4da;
    background: linear-gradient(
        -50deg, 
        #ffe4da,
        tan
    );
    display: flex;
    flex-direction: column;
}

#layout img {
    width: 100%;
    object-fit: fill;
}

#layout h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: center;
    color :#714423;
}

#layout p {
    font-size: 18px;
    flex: 1;
}

#layout:hover {
    background-color: white;
    box-shadow: 4px 4px 4px #714423;
    transform: translateY(-4px);
}

#layout {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#layout p {
    font-size: 18px;
    flex: 1;
}

#layout a {
    color:#714423;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: tan;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    border: 3px solid #97704F;
    transition: 
        background-color .5s;
}

#layout a:hover {
    background-color: transparent;
}

/* Media Queries Styling */
@media screen and (max-width: 735px) and (min-width: 400px) {
    #grid-layout {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        " "
    }
}
